.tab-list {
    display: flex;
    flex-direction: column;

    .tab-headers {
        display: flex;

        .tab-header {
            margin-right: 0.5rem;
            cursor: pointer;

            button {
                border: none;
                background: none;
            }
        }
    }
}
